@mixin imgBorder {
  box-shadow: 2px 2px 10px $gray-500;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 0;
}
@mixin flexList ($margin:0, $padding:0){
  display: flex;
  margin: $margin;
  padding: $padding;
  list-style: none;
}
@mixin gridList($num:3){
  display: grid;
  grid-template-columns: repeat($num,1fr);
  grid-gap: 1rem;
}