.productInner {
  display: flex;
  @include lg{
    flex-direction: column;
    align-items: center;
  }
  .imgBox {
    width: 50%;
    max-width: 600px;
    @include lg{
    width:100%;
  }
    .pdtImgList {
      margin-top: 0.5rem;
    }
  }
  .infoBox {
    width: 50%;
    padding: 2rem;
    @include lg{
    width:100%;
        padding: 2rem 0 0 0;
  }
    .note {
      color: $red;
      text-align: right;
      display: block;
      svg {
        margin-right: 0.5rem;
      }
    }
  }
  .toggleTitle {
    font-size: 1.25rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid $black;
    text-decoration: none;
    width: 100%;
    display: block;
  }
  .toggleText {
    background: none;
    border: none;
    padding: 0.5rem;
  }
  .buyBtn {
    padding: 0.5rem 2rem;
  }
}
.priceBox {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
  p {
    margin-bottom: 0;
  }
  .price {
    font-size: 1.75rem;
  }
  .unit {
    margin-left: 1rem;
  }
  &:not(.discount) {
    margin-bottom: 37px;
  }
  &.discount {
    .discountBox {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .origin_price {
      position: relative;
      font-size: 0.9rem;
      @include md {
        margin-right: 0.5rem;
      }
      &::before {
        content: '';
        position: absolute;
        width: 120%;
        height: 1px;
        background: #333;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) rotate(-10deg);
      }
    }
  }
}
.susume {
  margin-top: 3rem;
  .susumeList {
    margin-top: 2rem;
    a {
      text-decoration: none;
    }
    .price {
      font-size: 1.25rem;
      margin: 0 auto 0 0;
    }
  }
}
.btnGroup {
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0;
  .btnBox:not(:last-child) {
    margin-right: 1rem;
  }
}
.numInput {
  width: 80px;
  border: 1px solid $red;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
