header {
  background: #fee4e9;
  font-size: 1.1rem;
  .navbar-brand {
    font-size: 2rem;
    img {
      width: 45px;
    }
  }
}
.adminBg {
  background: url(~@/assets/img/adminBg.jpg) center/cover;
  // background: url(/sweet/dist/assets/img/adminBg.jpg) center/cover;
}
.adminInner {
  min-height: calc(100vh - 105px);
  position: relative;
  padding: 2rem;
}
.loginBox {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 450px;
  background: $white;
  padding: 2rem 5rem;
  box-shadow: 2px 2px 20px $gray-500;
  border-radius: 0.5rem;
}
.pdtSearchBox {
  margin-bottom: 2rem;
  .btnBox {
    display: flex;
    justify-content: center;
    input {
      border: 1px solid $red;
      padding: 0 0.5rem;
    }
  }
}
.pdtList {
  text-align: center;
  margin-bottom: 2rem;
  table {
    width: 100%;
  }
  thead {
    background: $red;
    color: $white;
    th {
      font-weight: normal;
      text-align: center;
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid $black;
      td{
        padding: .5rem;
      }
      .title{
        text-align: left;
      }
    }
  }
}
.orderModal{
  p{
    margin-bottom: 0;
  }
  .orderTitle{
    background: $red;
    color: $white;
    border-bottom: none;
  }
  .orderItem{
    border-bottom: 1px solid $gray-200;
    display: flex;
    justify-content: space-between;
    padding: .25rem;
  }
  .orderTotal{
    border-top: 1px solid $black;
    .orderItem{
      border-bottom: none;
      &:last-child{
        border-top: 1px solid $gray-200;
      }
    }
  }
}
.modal{
  .modalTitle{
    font-size: 1.5rem;
  }
}

footer {
  background: #fbe4c7;
  color: $black;
  text-align: center;
  padding: 0.25rem 1rem;
}
